@font-face {
  font-family: "Open Sans Condensed Bold";
  src: url("./fonts/OpenSans_SemiCondensed-Bold-BF63e1a1dc76fd2.ttf")
    format("truetype");
}
body {
  background-color: #333333;
  color: white;
  position: relative;
}

.productions_list_item,
.productions_list_item_search {
  width: 442px;
  height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  overflow: hidden;
}
.productions_list {
  display: flex;
  font-family: Open Sans Condensed Bold;
  overflow: hidden;
}
.productions_list_item_first {
  background: linear-gradient(#333333a6, #333333a6),
    url("./img/img1.png") center/cover no-repeat;
}
.productions_list_item_second {
  background: linear-gradient(#333333a6, #333333a6),
    url("./img/img2.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productions_list_item_third {
  background: linear-gradient(#333333a6, #333333a6),
    url("./img/img3.png") center/cover no-repeat;
}
.productions_list_item_fourth {
  background: linear-gradient(#333333a6, #333333a6),
    url("./img/img4.png") center/cover no-repeat;
}
.productions_list_item_tittle {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: white;
  padding-top: 40px;
  padding-left: 40px;
}
.productions_list_item_date {
  color: white;
  padding-top: 40px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: left top;
}
.productions_list_item_vector {
  width: 100px;
  height: 100px;
  background: #d1a954;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  background: linear-gradient(#333333e5, #333333e5),
    url("./img/rating_bg.png") center/cover no-repeat;

  display: flex;
  margin-top: 89px;
  height: 611px;
}
.rating_info_data {
  font-size: 36px;
  line-height: 150%;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.rating_years {
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 7.2px;
  text-transform: uppercase;
  color: #d1a954;
  font-family: Open Sans Condensed Bold;
}
.rating_years div {
  padding-bottom: 20px;
}

.rating_info_star {
  padding-bottom: 15px;
}
.rating_info_star img {
  margin-right: 15px;
}

.partners_theater img {
  width: 256px;
}
.partners_theater_list_item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
}
.partners_theater_list_item img {
  margin-right: 30px;
}

.partners_theater_list_item:first-child {
  padding-bottom: 129px;
}

.be_mycanate_info {
  display: flex;
  justify-content: space-between;
}
.be_mycanate_contacts {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  width: 336px;
  flex-shrink: 0;
  font-family: Open Sans Condensed Bold;
}
.be_mycanate_contacts div {
  padding-bottom: 25px;
}

.be_mycanate_form_wrap {
  display: flex;
  justify-content: center;
}
.be_mycanate_form_input input,
textarea {
  background-color: rgba(68, 68, 68, 1);
  color: rgba(152, 152, 152, 1);
  border: 1px solid rgba(97, 97, 97, 1);
  width: 180px;
  height: 35px;
  margin-bottom: 30px;
}
.be_mycanate_form textarea {
  height: 100px;
  margin: 0;
}
.be_mycanate_form_footer {
  display: flex;
  justify-content: space-between;
}
.be_mycanate_form_footer div {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(152, 152, 152, 1);
  width: 390px;
}
.be_mycanate_form_footer input {
  background: rgba(209, 169, 84, 1);
  border: none;
  font-family: Open Sans Condensed Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1.8px;
  text-align: center;
  vertical-align: middle;
  color: white;
  width: 190px;
  height: 50px;
}
.footer {
  padding-top: 80px;
  padding-bottom: 30px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(152, 152, 152, 1);
}
.footer_copy {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.footer_line {
  width: 100%;
  border-top: 1px solid rgba(86, 86, 86, 1);
}
.contact_input_line {
  display: flex;
  justify-content: center;
}
.contact_input_line input {
  margin-right: 25px;
}
.section_tittle {
  font-family: Open Sans Condensed Bold;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 4.8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  margin-top: 150px;
  margin-bottom: 78px;
}
.section_tittle span {
  color: rgba(209, 169, 84, 1);
}
.about_theater_info {
  display: flex;
}
.about_theater_info_img img {
  width: 395px;
  height: 292px;
}
.about_theater_info_data_tittle,
.about_theater_info_statistic_tittle {
  font-family: Open Sans Condensed Bold;
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about_theater_info_data_text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;

  width: 445px;
}
.about_theater_info_statistic {
  padding-left: 25px;
}
.about_theater_info_statistic_data img {
  margin-bottom: 15px;
}
.about_theater_info_statistic_data span {
  color: rgba(209, 169, 84, 1);
}
.about_theater_info_statistic_data div:first-child {
  margin-bottom: 15px;
}
.about_theater_info_img {
  display: none;
}
.main_contact_info {
  font-family: Open Sans Condensed Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: left top;
  position: absolute;
  white-space: nowrap;
  bottom: 310px;
}
.contacts {
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 650px;
  background-color: rgba(51, 51, 51, 0.75);
}
.contacts ul,
.ul_menu ul {
  list-style-type: none;
  width: fit-content;
  display: inline-block;
  position: relative;
}
.contacts ul li {
  padding-bottom: 30px;
  width: fit-content;
}
.vertic_line {
  border-left: 3px solid rgba(196, 196, 196, 1);
  height: 80px;
  margin-left: 13px;
}
.main_theater_section {
  padding-right: 405px;
  padding-left: 255px;
  padding-top: 50px;
  padding-bottom: 210px;
  width: 100%;
}
.ul_menu ul li {
  display: inline;
}
.main_theater {
  display: flex;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul,
p {
  padding: 0;
  margin: 0;
}
.main_theater_section_info {
  margin-top: 189px;
  display: flex;
}
.main_theater_section_info_data {
  margin-top: 117px;
  margin-right: 71px;
}
.main_theater_section_info_data_tittle {
  font-family: Open Sans Condensed Bold;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.main_theater_section_info_data_text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.main_theater_section_info_data_text p {
  margin-bottom: 30px;
}
.main_theater_section_info_data_button button {
  background: rgba(209, 169, 84, 1);
  width: 160px;
  height: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

.ul_menu li a {
  font-family: Open Sans Condensed Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  margin-right: 50px;
  color: white;
  text-decoration: none;
}
.ul_menu li a.active {
  border-bottom: 2px solid rgba(209, 169, 84, 1);
}
.main_theater {
  background-image: url("./img/main_bg.png");

  background-position: -450px 0;
}
.main_theater_section_info_slider {
  display: none;
}
.burger_menu {
  position: absolute;
  top: 0;
  padding-left: 39px;
  padding-right: 38px;
  padding-top: 38px;
  padding-bottom: 90px;
  background: rgba(51, 51, 51, 1);
  display: none;
}
.close {
  text-align: right;
}
.burger_menu_list {
  padding-top: 78px;
}
.burger_menu_list ul li a {
  font-family: Open Sans Condensed Bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  color: white;
}
.burger_menu_list ul li {
  margin-bottom: 35px;
}
.burger_menu_list ul {
  list-style-type: none;
}
.cont_icons {
  padding-top: 54px;
  padding-left: 41px;
  text-align: center;
  padding-right: 50px;
}
.cont_icons_line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
#button_burger_menu {
  display: none;
}
a:hover {
  cursor: pointer;
}
.main_cont {
  font-family: Open Sans Condensed Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
